@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  margin: 0;
  height: 100%;
}

.calculator {
  padding: 10px;
  width: 200px;
  width: 300px;
  border: solid 3px grey;
}

.rows {
  border-top: solid 1px grey;
  border-radius: 2px;
}

.row {
  display: flex;
  padding: 10px;
}

.row > button {
  flex: 1 1 auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-left: 2px;
}


.row > button:hover {
  transition: 340ms;
  font-weight: bolder;
  background-color: wheat;
}

#clear-button,
.row > button.operand {
  background-color: beige;
}

.row > button.operand:hover {
  background-color:burlywood
}

